*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: sans-serif;
    font-weight: 700;
}
.displayTime  {
    background-color: black;
    color: #fff;
    padding: 12px 20px;
    border-radius: 12px;
    font-size: 40px;
    text-align: center;
}
.displybutton button{
    margin-top: 20px;
    border: none;
    background: none;
    font-size: 35px;
    background-color: aqua;
    padding: 12px 24px;
    border-radius: 12px;
    margin-inline: 10px;
}
 .displybutton .red{
    background-color: red;
}
.displybutton .green{
    background-color: green;
}
.displybutton .blue{
    background-color: blue;
}